@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  height: 100%;
  width: 100%;
}

.app_container {
  height: 100%;
  width: 100%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: rgba( 0, 0, 0);
    outline: 0;
}
