@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  height: 100%;
  width: 100%;
}

.app_container {
  height: 100%;
  width: 100%;
}

.svg-white {
  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(5deg) brightness(90%) contrast(104%);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: rgba( 0, 0, 0);
    outline: 0;
}
