

@use './var';

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #fdfffc15;
    a {
        height: 60px;
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var.$c3;
        cursor: pointer;
    }
}