.auth_container {
  display: flex;
  width: fit-content;
  margin-top: 20px;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  a {
    text-decoration: none;
    background-color: #fff;
    margin-right: 10px;
    color: #000;
    border-radius: 25px;
    margin-top: 5px;
    text-align: center;
    padding: 4px;
  }

  button {
    background-color: #fff;
    margin-right: 10px;
    color: #000;
    border-radius: 25px;
    margin-top: 5px;
    text-align: center;
    padding: 4px;
    border: none;

  }
}
