@use '../style/var';

.add_song_page {
  form {
    .sound_playlist_name {
      height: 50px;
      width: 70%;
      padding-left: 20px;
      outline: none;
      border: none;
      border-radius: 25px 0px 0px 25px;
      background-color: var.$c2;
    }
    ul {
      list-style: none;
    }
    .all-songs {
      display: flex;
      flex-direction: row;
    }
  }
}
