@use './var';

.playlists_container {
    //width: 80%;
    width: 90%;
    margin-left: 5%;
    overflow: auto;
    &:-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    h3 {
        margin: 0px 0px 10px 0px;
    }
    .new_playlist_button {
        height: 90px;
        width: 130px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        background-color: var.$c2;
    }

    .playlist_button {
        opacity: 0.85;
        height: 90px;
        width: 130px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 15px;
        font-weight: bold;
    }
}

.file_selection {

    width: 89%;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px auto;
    h3 {
        margin-bottom: 10px;
    }
    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        .secon-all {
            height: 110px;
            width: 31%;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 3px;
            background-color: var.$c2;
        }
    }
}

/*.file_upload_form {
    height: 50px;
    width: 76%;
    margin: 20px auto;
    border-radius: 25px;
    color: black;
    background-color: var.$c2;
    label {
        font-size: 0.9em;
    }
    .form_label_upload {
        margin-right: 25px;
        cursor: pointer;
    }
    .form_radio1 {
        margin: 0px 10px 0px 5px;
    }
    .form_radio2 {
        margin: 0px 25px 0px 5px;
    }
    .form_submit_file {
        height: 40px;
        width: 25%;
        border: none;
        outline: none;
        border-radius: 25px;
        cursor: pointer;
        color: var.$c2;
        background-color: var.$c4;
        transition: .3s;
    }

    .form_submit_file:hover {
        background-color: var.$hover-c4;
    }
}*/

.upload_audio_container {
    .upload_page_link {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 20px 0px;
        border-radius: 3px;
        text-decoration: none;
        color: black;
        background-color: var.$c2;
    }
}

.music_list_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    ul {
        width: 89%;
        .li_border_color {
            width: 100%;
            list-style: none;
            margin-bottom: 15px;
            border: solid 1px var.$c4;
            border-radius: 25px;
            display: flex;
            .music {
                height: 50px;
                width: 60%;
                //width: 193px;
                border: none;
                outline: none;
                border-radius: 25px 0px 0px 25px;
                padding: 0px 0px 0px 15px;
                background-color: var.$transparent-music-c2;
                color: var.$c2;
                cursor: pointer;
            }
            .delete_music {
                height: 50px;
                width: 10%;
                //width: 70px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: var.$transparent-music-c2;
                color: var.$c2;
            }

            .add_music_playlist {
                height: 50px;
                width: 30%;
                border: none;
                outline: none;
                margin: 0px;
                display: flex;
                justify-content: center;
                alignt-items: center;
                text-decoration: none;
                cursor: pointer;
                border-radius: 0px 25px 25px 0px;
                background-color: var.$transparent-music-c2;
                color: var.$c2;
                button {
                  border: none;
                  outline: none;
                  margin: 0px;
                  padding: 0px 15px 0px 0px;
                  cursor: pointer;
                  background-color: transparent;
                  color: var.$c2;
                }
            }
        }
        li:last-child {
            //padding-bottom: 100px;
            margin-bottom: 120px;
        }
    }
}

.add_to_playlist_container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  jusitify-content: center;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    .playlist_button {
        opacity: 0.85;
        height: 90px;
        width: 130px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 15px;
        font-weight: bold;
    }
  }
}
