@use './var';

.sound-page-search {
  width: 100%;
  //margin-inline: auto;
  .search-icon-div {
    height: 50px;
    width: 50px;
    padding: 16px 0px 0px 15px;
    border: none;
    border-radius: 25px 0px 0px 25px;
    color: var.$c1;
    background-color: var.$c2;
    cursor: default;
  }
}

.playlists_container {
    width: 100%;
    .all_playlists {
        width: 89%;
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        overflow-x: auto;
    }
    .all_playlists::-webkit-scrollbar {
        display: none;
    }
    h3 {
        margin: 0px 0px 10px 5%;
    }
    .new_playlist_button {
        height: 90px;
        width: 130px;
        margin-right: 15px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        background-color: var.$c2;
    }

    .playlist_button {
        opacity: 0.85;
        height: 90px;
        min-width: 130px;
        max-width: 131px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 15px;
        font-weight: bold;
    }
}

.file_selection {
    width: 89%;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px auto;
    h3 {
        margin-bottom: 10px;
    }
    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        .secon-all {
            height: 110px;
            width: 31%;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 3px;
            background-color: var.$c2;
        }
    }
}

.upload_audio_container {
    .upload_page_link {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 20px 0px;
        border-radius: 3px;
        text-decoration: none;
        color: black;
        background-color: var.$c2;
    }
}

.music_list_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    ul {
        width: 89%;
        .li_border_color {
            width: 100%;
            list-style: none;
            border: none;
            margin-bottom: 15px;
            border-radius: 25px;
            display: flex;
            .music {
                height: 50px;
                width: 60%;
                //width: 193px;
                border: none;
                outline: none;
                border-radius: 25px 0px 0px 25px;
                padding: 0px 0px 0px 15px;
                background-color: var.$transparent-music-c2;
                color: var.$c2;
                cursor: pointer;
            }
            .delete_music {
                height: 50px;
                width: 10%;
                //width: 70px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: var.$transparent-music-c2;
                color: var.$c2;
            }

            .add_music_playlist {
                height: 50px;
                width: 30%;
                border: none;
                outline: none;
                margin: 0px;
                display: flex;
                justify-content: center;
                alignt-items: center;
                text-decoration: none;
                cursor: pointer;
                border-radius: 0px 25px 25px 0px;
                background-color: var.$transparent-music-c2;
                color: var.$c2;
                button {
                  border: none;
                  outline: none;
                  margin: 0px;
                  padding: 0px 15px 0px 0px;
                  cursor: pointer;
                  background-color: transparent;
                  color: var.$c2;
                }
            }
        }
        .current_song {
            border: solid 1px var.$c4;
        }
        li:last-child {
            //padding-bottom: 100px;
            margin-bottom: 120px;
        }
    }
}

.suggest_youtube {
  width: 89%;
  list-style: none;
  border: none;
  margin-bottom: 15px;
  border-radius: 25px;
  display: flex;
  background-color: var.$transparent-music-c2;
  color: var.$c2;
  margin-inline: auto;
  height: 50px;
  border: solid 1px var.$c4;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  cursor: pointer;
}

.add_to_playlist_container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  jusitify-content: center;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    .playlist_button {
        opacity: 0.85;
        height: 90px;
        width: 130px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 15px;
        font-weight: bold;
    }
  }
}
